*{
    box-sizing: border-box;
    background-color: white;
}

body{
    background-color: black;
    
}

button{
    height: 80px;
    width: 120px;
    font-size: large;
}

.button-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    height: 50vh;
}

.display-banner{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

